{% extends 'partials/registration/base_template_accounts.html' %}
{% block content %}
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="text-center my-5">
                        {% load static %}
                        <img src="{% static 'images/auth_page_logo.png' %}" alt="logo">
                    </div>
                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4">{% block form_title %}{% endblock %}</h1>
                            {# Alert messages goes in the errors block #}
                            {% block errors %}
                            {% endblock %}
                            {# Must provide action url for SASS validation #}
                            <form method="POST" class="needs-validation"
                                  novalidate=""
                                  autocomplete="off">
                                {% csrf_token %}
                                {# Add form fields here including the submit button #}
                                {% block form_fields %}{% endblock %}
                            </form>
                        </div>
                    </div>
                    <div class="text-center mt-5 text-muted">
                        Copyright &copy; 2022-2023 &mdash; Archirodon
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/registration_form_validator.js' %}"></script>
{% endblock %}