<div class="row ">
    <div class="col-md ">
        <div id="div_id_username" class="form-floating mb-3">
            <input type="text" name="username" maxlength="30" class="textinput textInput form-control"
                   placeholder="username" required="" id="id_username">
            <label for="id_username">Username</label>
        </div>
    </div>
    <div class="col-md ">
        <div id="div_id_email" class="form-floating mb-3">
            <input type="email" name="email" maxlength="60" class="emailinput form-control" placeholder="email"
                   required="" id="id_email">
            <label for="id_email">Email</label>
        </div>
    </div>
    <div class="col-md ">
        <div id="div_id_salary_num" class="form-floating mb-3">
            <input type="text" name="salary_num" class="textinput textInput form-control" placeholder="salary_num"
                   required="" id="id_salary_num">
            <label for="id_salary_num">Salary Number</label>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md ">
        <div id="div_id_password" class="form-floating mb-3"><input type="password" name="password" maxlength="128"
                                                                    class="textinput textInput form-control"
                                                                    placeholder="password" required="" id="id_password">
            <label for="id_password">Password</label>
        </div>
    </div>
    <div class="col-md ">
        <div id="div_id_password2" class="form-floating mb-3">
            <input type="password" name="password2" id="password" class="textinput textInput form-control"
                   placeholder="password2" required="">
            <label for="password">Confirm Password</label>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md ">
        <div id="div_id_first_name" class="form-floating mb-3">
            <input type="text" name="first_name" class="textinput textInput form-control" placeholder="first_name"
                   required="" id="id_first_name">
            <label for="id_first_name">Name</label>
        </div>
    </div>
    <div class="col-md ">
        <div id="div_id_last_name" class="form-floating mb-3">
            <input type="text" name="last_name" class="textinput textInput form-control" placeholder="last_name"
                   required="" id="id_last_name">
            <label for="id_last_name">Surname</label>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md text-start">
        <div class="mb-3">
            <div id="div_id_is_moderator" class="mb-3">
                <input type="checkbox" name="is_moderator" class="checkboxinput form-check-input" id="id_is_moderator">
                <label for="id_is_moderator" class="form-check-label">User is Moderator</label>
            </div>
        </div>
    </div>
</div>