{% extends 'partials/registration/registration_forms.html' %}
{% block tile %}Password Reset{% endblock %}
{% block form_title %}Forgot Password{% endblock %}
{% block errors %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.email.errors }}
        </div>
    {% endif %}
{% endblock %}
{% block form_fields %}
    <div class="mb-3">
        <label class="mb-2 text-muted" for="email">Email</label>
        {{ form.email }}
        <div class="invalid-feedback">
            Email field cannot be blank
        </div>
    </div>
    <div class="d-flex mb-3">
        <button type="submit" class="btn btn-primary">
            Reset Password
        </button>
    </div>
    <div class="d-flex">
        <a href="{% url 'login' %}">Go Back</a>
    </div>
{% endblock %}